@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
.App{
    height: 100vh;
    color: #494173;
    background-color: #E2EAFD;
    font-family: 'Itim', cursive;
    font-family: 'Lobster', cursive;
}
.weathercontainer{
    background-color: red;
}