@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
.App{
    height: 100vh;
    color: #f9eceb;
    color: #494173;
    font-family: 'Lobster', cursive;
}